.dropzone {
    color: #555;
    text-align: center;

    width: 400px;
    padding: 10px 0;
    margin: 10px auto;

    background: #eee;
    border: 1px solid #ccc;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

body {
	margin: 65px 60px 60px 60px;
}

.header {
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	height: 60px;
	padding: 8px;
	background-color:rgb(150, 150, 150);
	color: white;
	font-family: Courier;
  z-index: 1000;
}
.header a {
	color: yellow;
}

div.header-nav {
  margin-right: 140px;
}

.updctrls {
    display: none;
    padding: 10px 0;
    margin: 10px auto;
    width: 400px;
    border: 2px solid rgba(200, 200, 200, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.updctrls span {
    margin: 5px;
}

/*GLY*/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

textarea.code {
	font-family: 'Courier New';
	font-size: x-small;
	min-width: 600px;
	min-height: 300px;
}
textarea.codesmall {
	font-family: 'Courier New';
	font-size: x-small;
	min-width: 250px;
	min-height: 80px;
}

span.label {
    margin: 3px;
}

label.small {
  font-size: x-small;
}

.multicol {
  column-count: 3;
}

textarea.grouplist {
  width: 200px;
  height: 300px;
  font-size: x-small;
}

fieldset.block {
  display: inline-block;
}

input.shortsmall {
  font-size: small;
  width: 60px;
}

span.timeok {
  color: Green;
}
span.timeoverflow {
  color: Red;
  font-weight: bold;
}

div.float {
  position:fixed;
  top: 65px;
  right: 5px;
  z-index: 1001;
  border: 1px solid gray;
}

div.float > .collapser {
  background-color: green;
  padding: 2px;
  font-family:monospace;
  font-size: 10px;
  color: yellow;
  min-width: 200px;
  opacity: 0.5;
}

div.float > .content {
  width: 200px;
  height: 150px;
  display: none;
}

div.float > .content > textarea {
  width: inherit;
  height: inherit;
  font: 10px Courier;
  opacity: 0.5;
}
