{% extends 'layout.html' %}
{% block title %}All problems list{% endblock %}

{% block head %}
<script type="text/javascript">
	function removeProblem(element) {
		if (!confirm('Are you sure you want to delete problem?'))
			return;

		var tr = element.parentNode;
		while (tr.tagName.toLowerCase() != 'tr') tr = tr.parentNode;
		var pid = tr.getAttribute('pid');

		$.ajax({
			url: '{{ Problem.removeUrl("") }}' + pid,
			type: 'DELETE',
			success: (result) => {
				tr.remove();
			},
			error: (xhr, text, errorThrown) => {
				console.log(text);
				console.log(xhr);
				alert('Error occured while deleting problem: ' + text);
			}
		});
	}

  function editproblem() {
		if (!$('#problemid').val()) {
			alert('Please enter problem ID!');
			return;
		}
		var url = '{{ Problem.editUrl(session_user.login, "") }}';
		url = url + $('#problemid').val();
		var win = window.open(url, '_blank');
		win.focus();
  }
</script>
{% endblock %}

{% block body %}
<table class="table table-bordered sortable">
	<thead>
		<tr>
			<th>Problem name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for problem in problems %}
		<tr pid="{{problem.id}}">
			<td>{{ problem.name }} ({{ problem.id }})</td>
			<td>
				<a href="{{ Problem.editUrl(session_user.login, problem.id) }}">
					<span class="label label-warning"> Edit </span>
				</a>
				<a onclick="removeProblem(this)" style="cursor:pointer">
					<span class="label label-danger"> Remove </span>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" style="text-align:center">
				<form action="/edit-contest">
					Add new problem:

          <input type="text" id="problemid" placeholder="Enter-problem-ID"/>
          <input type="button" value="edit" onclick="editproblem()"/>
        </form>
			</td>
		</tr>
	</tfoot>
</table>
{% endblock %}
