{% extends 'layout.html' %}
{% block title %}Edit contest: {{ contest.id }}{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div> <!-- div with information about contest, user and problem -->
    <form method="POST">
        <input type="hidden" id="cid" name="cid" value="{{ contest.id }}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Parameter </th>
                    <th> Value </th>
                </tr>
            </thead>
                <tr>
                    <th> Name </th>
                    <td> <input type="text" name="name" value="{{contest.name}}"/>
                </tr>
                <tr>
                    <th> Problems </th>
                    <td  class="multicol">
                        {% for problem in problems %}
                        <div>
                        <input type="checkbox"
                                name="problems"
                                value="{{ problem }}"
                                {% if contest.hasProblem(problem) %}
                                checked="checked"
                                {% endif %}
                                id="cbp_{{ problem }}"/>
                        <label for="cbp_{{ problem }}" class="small">
                            {{ problem }}</label>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th> Groups </th>
                    <td class="multicol">
                        {% for group in groups %}
                        <div>
                        <input type="checkbox"
                                name="groups"
                                value="{{ group }}"
                                {% if contest.hasGroup(group) %}
                                checked="checked"
                                {% endif %}
                                id="cbg_{{ group }}"/>
                        <label for="cbg_{{ group }}" class="small">{{ group }}</label>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Is strict (less verbose error output)</th>
                    <td>
                        <input type="checkbox" name="is_strict" 
                         {% if contest.isStrict() %}
                         checked="checked"
                         {% endif %}
                         id="is_strict"
                        />
                        <label for="is_strict" class="small">strict output</label>
                    </td>
                </tr>
                <tr>
                    <th> Languages </th>
                    <td>
                      {% for lang, lang_disp in all_languages %}
                      <div>
                      <input type="checkbox"
                              name="langs"
                              value="{{ lang }}"
                              {% if contest.hasLanguage(lang) %}
                              checked="checked"
                              {% endif %}
                              id="cbl_{{ lang }}"/>
                      <label for="cbl_{{ lang }}" class="small">
                        {{ lang_disp }} ({{lang}})
                      </label>
                      </div>
                      {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th> Start date and time </th>
                    <td>
                        <input type="datetime-local" name="start"
                        value="{{ contest.startDataString() }}"/>
                    </td>
                </tr>
                <tr>
                    <th> End date and time </th>
                    <td>
                        <input type="datetime-local" name="end"
                        value="{{ contest.endDataString() }}"/>
                    </td>
                </tr>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="submit" class="button" value="Save"/>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}
