{% extends 'layout.html' %}
{% block title %}Dashboard: {{ display_user.login }}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<fieldset><legend>User info</legend>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<td>{{ display_user.fullname }}
				{% if display_user.is(session_user) %}(you){% endif %}
			</td>
		</tr>
		<tr>
			<th>Login</th>
			<td>{{ display_user.login }}
				{% if display_user.is(session_user) %}
				| <a href="/changepass">change password</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Account type</th>
			<td>{{ display_user.type }}</td>
		</tr>
		<tr>
			<th>Groups</th>
			<td>
				{% if session_user.isRoot() %}
					{% for group in groups %}
					<a href='{{ group.getUrl(session_user) }}'>
						<span class="label label-success">{{ group.id }}</span>
					</a>
					{% endfor %}
				{% else %}
					{% for group in groups %}
						<span class="label label-default">{{ group.id }}</span>
					{% endfor %}
				{% endif %}
			</td>
		</tr>
	</table>
</fieldset>
<fieldset><legend>Contests</legend>
	<table class="table table-bordered">
		<tr>
			<th>Contest title</th>
			<th>Start</th>
			<th>Deadline</th>
		</tr>
		<tr><th colspan="3">Passed</th></tr>
		{% for contest in contests.passed %}
		<tr class="inactive">
			{% if session_user.isRoot() || session_user.is(display_user) %}
			<td><a href="{{ contest.getUrl(display_user) }}"> {{ contest.name }} </a></td>
			{% else %}
			<td>{{ contest.name }}</td>
			{% endif %}
			<td>{{ contest.startString() }}</td>
			<td>{{ contest.endString() }}</td>
		</tr>
		{% endfor %}
		<tr><th colspan="3">Current</th></tr>
		{% for contest in contests.current %}
		<tr class="active">
			<td><a href="{{ contest.getUrl(display_user) }}"> {{ contest.name }} </a></td>
			<td>{{ contest.startString() }}</td>
			<td>{{ contest.endString() }}</td>
		</tr>
		{% endfor %}
		<tr><th colspan="3">Future</th></tr>
		{% for contest in contests.future %}
		<tr class="active">
			<td>{{ contest.name }}</td>
			<td>{{ contest.startString() }}</td>
			<td>{{ contest.endString() }}</td>
		</tr>
		{% endfor %}
	</table>
</fieldset>
{% if session_user.isRoot() %}
	<fieldset><legend>Active users</legend>
		<table class="table table-bordered table-sm">
			<tr>
				<th>Login</th>
				<th>Was active</th>
				<th>Action</th>
			</tr>
			{% for session in sessions %}
			<tr>
					<td><a href="{{session.user.getUrlDashboard() }}">{{ session.login }}</td>
					<td>{{ session.time.toLocaleTimeString() }} ({{ session.passed }} minute(s) ago)</td>
					<td>
						<a href="{% if session.action.method == 'GET' %}{{ session.action.url }}{% endif %}">
						{% if session.action.method == 'GET' %}
						{{ session.action.url }}
						{% else %}[{{session.action.method}} REQUEST]{% endif %}
						</a>
					</td>
			</tr>
			{% endfor %}
	</fieldset>
{% endif %}
{% endblock %}
